
body {
	font-family: 'Lato', sans-serif;
}

.head, .footer {
	background: url(../images/pattern.jpg);
}

.header-box {
	width: 800px;
	height: 200px;
}

.main {
	background: rgba(250,250,250,0.9);
	min-height: 500px;
}

.parallax {
	background: url(../images/mother-daughter.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.title {
	font-family: 'Handlee', cursive;
	text-transform: uppercase;
}

.btn:focus {
	box-shadow: none;
}

a {
	text-decoration: none !important;
	color: #306b04;
}

a:hover {
	color: black;
}

fieldset {
	border: dotted;
	padding: 20px;
	text-align: center;
}
.card {
	height: 190px;
}
.credentials, .user-info, .password {
	width: 229px;
}

.email {
	width: 466px;	
}

.error {
	color: red; 
	font-size: 0.8em;
}

.icons {
	color: green;
	font-size: 2em;
}

.list-group-item, .sidebar {
	background: rgba(250,250,250,.5);
}
.list-group-item {
	border: none;
}
.sidebar {
	border-left : 1px dotted;
}
.notice {
	color: green;
}
.cookie-banner {
   position: fixed;
   bottom: 20px;
   right:20px;
   border-radius: 10px;
   background: #FFF;
   color: black;
   padding: 30px 15px;
   width: 480px;
   box-shadow: 2px 2px 20px black;
   z-index:100;
}
.cookie-banner p {
	margin-left: 20px;
}
.cookie-banner button { 
   display:block;
   border-radius: 10px;
}
.hide {
	display: none;
}
@media only screen and (max-width:480px) {
   .cookie-banner {
	    text-align: center;
	    left: 0;
	    right: 0;
	    width: 100%;
	    max-width: 700px;
	    padding: 10px 30px;
   }
   .cookie-banner p {
	margin-left: 0px;
	}
	.card {
		height: 	220px;
	}
	.header-list {
		flex-direction: 	column;	
	}
}