

/*body {
	background: url(../images/pattern.jpg);
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}*/

.head, .footer {
	height: 30vh;
	background: url(../images/pattern.jpg);
}

.main {
	background: rgba(250,250,250,0.9);
}

.title {
	font-family: 'Handlee', cursive;
	text-transform: uppercase;
}

.btn:focus {
	box-shadow: none;
}

a {
	text-decoration: none !important;
	color: #306b04;
}

.parallax {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/mother-daughter.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.credentials, .user-info, .password {
	width: 229px;
}

.email {
	width: 466px;	
}



.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

.icons {
	color: green;
	font-size: 2em;
}

/* CARDS */
.carousel-caption {
	bottom: 64px;
	left: 0;
	right: 0;
	width: 100% !important;
	background: rgba(250,250,250,.5);
}

.carousel-caption, .list-group-item, .sidebar {
	background: rgba(250,250,250,.5);
}

.list-group-item {
	border: none;
}

.sidebar {
	border-left : 1px dotted;
}

.cookie-alert {
   position: fixed;
   bottom: 20px;
   right:20px;
   border-radius: 10px;
   background: #FFF;
   color: black;
   padding: 30px 15px;
   width: 480px;
   box-shadow: 2px 2px 20px black;
   z-index:100;
}
.cookie-alert p {
	margin-left: 20px;
}
.cookie-alert a { 
   display:block;
   border-radius: 10px;
}

@media only screen and (max-width:480px) {
   .cookie-alert {
	    text-align: center;
	    left: 0;
	    right: 0;
	    width: 100%;
	    max-width: 700px;
	    padding: 10px 30px;
   }
   .cookie-alert p {
	margin-left: 0px;
}
}